@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-igRed: rgb(207, 33, 66);
  --color-igOrange: rgb(230, 173, 77);
}
